body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4em;
}
/* 追加したいCSSスタイル */
.filter-label {
  font-size: 30px;
  margin-right: 10px;
  color: rgb(11, 114, 34); /* 例: #333 (黒) や #ff0000 (赤) */
}
.custom-select {
  position: relative;
  display: inline-block;
}
.filter-select {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.filter-select:hover {
  background-color: #ddd;
}

.filter-select:focus {
  outline: none;
  background-color: #ddd;
}
/* ドロップダウンのスタイル */
.custom-select select {
  display: inside;
}
.custom-select select option {
  padding: 25px;
}
/* アローダウンのスタイル */
.custom-select .select-selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

.video-item {
  max-width: 300px;
  margin: 1em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-item img {
  max-width: 100%;
  height: auto;
}

.footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
}
/* Add this to styles.css */
@media only screen and (max-width: 600px) {
  .video-item {
    max-width: 100%;
  }
}
